04_n8n/Verify_answer.json
{
  "name": "Verify_answer",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -528,
        -48
      ],
      "id": "324daa0b-33f2-4248-bbeb-da1c6ef1a194",
      "name": "When chat message received",
      "webhookId": "b293f2d0-7c48-46b9-9fde-322ea5a6a83f"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Your goal is to verify if answer from simple LLM is correct using websearch. Answer with percentage only. 0% is totally wrong, 100% correct.\n\nQuestion: {{ $json.chatInput }}\n\nAnswer: {{ $json.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        352,
        -48
      ],
      "id": "67df9bad-29d0-4783-87d2-f9b9d55ed7c3",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        256,
        320
      ],
      "id": "3c038d13-6b64-4d9d-ac36-75ee30351d29",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "FYI9fNkqlYW6adCY",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        448,
        240
      ],
      "id": "b7c43b7e-2c35-41bf-8baa-57fd462414fb",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "query": "={{ $json.chatInput }}",
        "count": 3
      },
      "type": "@brave/n8n-nodes-brave-search.braveSearchTool",
      "typeVersion": 1,
      "position": [
        640,
        224
      ],
      "id": "5d61cef9-d2ae-4922-8620-95fb42298409",
      "name": "Brave Search",
      "credentials": {
        "braveSearchApi": {
          "id": "11F6kOTC7HHH7Hgc",
          "name": "Brave Search account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Answer questin from user: {{ $json.chatInput }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -304,
        -192
      ],
      "id": "72295425-632a-41ae-be58-347463ba675f",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        96,
        -48
      ],
      "id": "a2478e9f-7d58-4006-9210-0858187f4662",
      "name": "Merge",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -208,
        48
      ],
      "id": "a20abfba-6108-4ea0-b9b7-bb2f5f4ff6ce",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "FYI9fNkqlYW6adCY",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Brave Search": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a7f9a387-d6ea-4b96-8a2e-196993488e26",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0de9b5653dcfd2526dc9c7b63a2eea020e4a5d0ac01bee53b1f880cea9242da2"
  },
  "id": "T5GsLpibQtFTb6b0",
  "tags": []
}